.TodoApp {
    background-color: #6AC9CA;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 40px;
}