@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.TodoTitle {
    background-color: #6AC9CA;
    width: 100%;
    margin: 0 auto;
}
  
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    text-align: center;
    padding: 0.5em;
    margin-top: 0;
 }
  
