@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.TodoForm {
  box-sizing: border-box;
  background-color: rgb(194, 165, 231);
  width: 40%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 5px;
}

input {
  width: 90%;
}

.addButton {
  padding: 2px 5px 2px 5px;
  margin-left: 15px;
  color: rgb(111, 0, 255);
}